.accordion .accordion-button {
	color: #555451;
	background-color: #fff;
	box-shadow: 0 0 0;
	font-size: 16px;
	font-weight: 700;
}
.accordion .accordion-button:not(.collapsed) {
	color: #555451;
	background-color: #fff;
	box-shadow: 0 0 0;
	font-size: 16px;
	font-weight: 700;
}
.accordion ul {
	padding: 0px 30px 0px 22px;
	li {
		color: #555451;
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: 20px;
		margin: 0px 0px 15px 0px;
		list-style-image: url("../images/check.png");
		list-style-position: inside;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}
.accordion .accordion-body {
	padding: 0;
}
.accordion .accordion-item {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #d0d3dc;
	margin: 0px 0px 30px 0px;
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
}
.accordion .accordion-item:not(:first-of-type) {
	border-top: 1px solid #d0d3dc;
}
.accordion .accordion-button:focus {
	z-index: 3;
	border-color: #fff;
	outline: 0;
	box-shadow: 0 0 0;
}

.accordion .accordion-button::after {
	background-image: url(../images/right-arrow_копия_2.svg);
	width: 14px;
	height: 8px;
	background-size: cover;
}
.accordion .accordion-button:not(.collapsed)::after {
	//background-image: url(../images/accordeon-arrow.png);
	background-image: url(../images/right-arrow_копия_2.svg);
	transform: rotate(-180deg);
}

@media (max-width: 600px) {
	.accordion {
		.accordion-button:not(.collapsed) {
			font-size: 14px;
		}
		.accordion-button {
			font-size: 14px;
			padding-left: 10px;
			padding-right: 15px;
		}
		ul {
			padding: 0px 30px 0px 30px;
			li {
				font-size: 13px;
				margin: 0px 0px 0px 0px;
				list-style-position: outside;
			}
		}
		.accordion-item {
			margin: 0px 0px 10px 0px;
		}
	}
}
